.divreslt {
    background-color: rgba(155,255,108,0.68);
}

.preslt {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 3em;
    background-color: rgba(113,221,63,0.68);
}

.ireslt {
    height: 13em;
    padding-top: 1em;
    padding-bottom: 1em;
}

