<div class="container-fluid">

    <app-comptitle [images]="imgTitle"></app-comptitle>

    <div class="row" style="margin-top: 15px;margin-bottom: 15px;">

        <app-compbtnstart [images]="imgStart" [status]="statusStart" (askStart)="start($event)" class="col-4 col-lg-4 col-xl-4 text-center"></app-compbtnstart>

        <div class="col-4 col-lg-4 col-xl-4 text-center">
            <p class="text-center">STATISTICAL RESULTS<br /></p>
            <app-compestatisti [rounds]="totals.totalRounds" 
                               [firsts]="totals.totalFirstWin" 
                               [seconds]="totals.totalSecondWin" 
                               [draws]="totals.totalDraws"></app-compestatisti>

        </div>

        <app-comprestart [images]="imgRestart" [status]="statusStart" (askRestart)="clear($event)" class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 offset-0 offset-md-0 offset-lg-0 offset-xl-0 text-center"></app-comprestart>

    </div>
    
    
    <div class="row">
        <app-compselector [state]="stateSelection" (selected)="moveSelected($event)" class="col-12 col-md-6 col-lg-6 text-center"></app-compselector>
        <app-compbtnplay [images]="imgPlay" [status]="statusPlay" [roundNumber]="rondNbr" (playMove)="changePlayMode($event)" class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 offset-3 offset-sm-3 offset-md-0 text-center"></app-compbtnplay>
        <app-compfirstsel [image]="stateSelAfterPlay" class="col-4 col-md-1 col-xl-1 offset-0 offset-sm-0" style="padding-right: 0px;"></app-compfirstsel>
        <app-compoponent [image]="stateSelAftPlyScnd" class="col-4 col-md-1 col-xl-1" style="padding-left: 0px;"></app-compoponent>
        <app-compresult [image]="stateGameResult" class="col-4 col-sm-4 col-md-2 col-lg-2"></app-compresult>

    </div>

    <app-comptable [results]="listMovements" class="row"></app-comptable>

</div>