<svg xmlns="http://www.w3.org/2000/svg" 
    xml:space="preserve" 
    width="75%" 
    version="1.1"     
    viewBox="0 0 247.57 273.21" 
    xmlns:xlink="http://www.w3.org/1999/xlink">

 <g id="Capa_x0020_1">
  <metadata id="1Layer"/>
  <rect class="fil0 str0" x="0.186" y="0.186" width="247.197" height="272.837"/>
  <rect class="fil1 str0" x="0.186" y="236.865" width="247.197" height="36.159"/>

  <text x="40" y="216.322"  class="fil2 fnt1">FIRST:</text>
  <text x="40" y="229.181" id="lbl_firsts" class="fil2 fnt1">{{firsts}}</text>

  <text x="101" y="216.322"  class="fil2 fnt1">SECOND:</text>  
  <text x="101" y="229.181" id="lbl_seconds" class="fil2 fnt1">{{seconds}}</text>

  <text x="171" y="216.322"  class="fil2 fnt1">DRAWS:</text>
  <text x="171" y="229.181" id="lbl_draws" class="fil2 fnt1">{{draws}}</text>
  
  <text x="64.185" y="260.542"  class="fil2 fnt0">ROUNDS</text>
  <text x="139.79" y="260.542" id="lbl_rounds" class="fil2 fnt0">{{rounds}}</text>

  <rect id="box_firsts"  class="fil5 str0"   x="36.268"    [attr.y]="fy"  width="40" [attr.height]="fh"/>
  <rect id="box_seconds" class="fil4 str0"   x="104.806"   [attr.y]="sy" width="40" [attr.height]="sh"/>  
  <rect id="box_draws"   class="fil3 str0"   x="172.358"   [attr.y]="dy"  width="40" [attr.height]="dh"/>
  
 </g>
</svg>
