@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID0") format(svg)}

#Capa_x0020_1 {
    
}

.str0 {
    stroke:black;
    stroke-width:0.373;
    stroke-miterlimit:22.9256;
}

.fil0 {
    fill:none;
}
.fil2 {
    fill:black
}

.fil4 {
    fill:#003399;
}

.fil3 {
    fill:#00CCFF
}

.fil1 {
    fill:#54E5FF
}

.fil5 {
    fill:#99FFFF
}

.fnt1 {
    font-weight:bold;
    font-size:9.983px;
    font-family:'Arial'
}

.fnt0 {
    font-weight:normal;
    font-size:15.637px;
    font-family:'Arial'
}