@font-face {
    font-family:CarterOne;
    src: url("assets/fonts/CarterOne-Regular.ttf") format("truetype");
}

body {
    background-image: url("assets/svgs/back.svg");
    background-repeat: repeat;
    background-size: 200%;
    font-family: CarterOne;
}